<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="header">
    <div class="header-right">
        <a href="/new-review">Create a new review</a>
        <a href="/all-reviews">All reviews</a>
        <a href="/search">Search</a>
    </div>
    <div class="header-left">
        <a href="/home">Home</a>
    </div>
</div>


<h1 id="header">Welcome to our Guest Book!</h1>

<div class="box">
    <a href="/create">
        <button>Create random reviews</button>
    </a>
</div>

<div>
    <img src="img.png" width="500" height="auto" alt="Guest Book">
</div>

</body>

</html>