<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search1</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="header">
    <div class="header-right">
        <a href="/new-review">Create a new review</a>
        <a href="/all-reviews">All reviews</a>
        <a href="/search">Search</a>
    </div>
    <div class="header-left">
        <a href="/home">Home</a>
    </div>
</div>

<h1 id="header">Search</h1>

<div class="box">
    <a  href="/search/first-name">
        <button>Search by First Name</button>
    </a>

    <a href="/search/last-name">
        <button>Search by Last Name</button>
    </a>
</div>

<div>
    <img src="img.png" width="500" height="auto" alt="Guest Book">
</div>



</body>

</html>